<!doctype html>
<html>

<head>
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/boggle.css">
</head>

<body>
    <section id="boggle">

        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>High Score:
            <b>{{ highscore }}</b>
            in {{ nplays }} plays
        </p>

        <p>
            Score: <b class="score">0</b>
            Seconds Left: <b class="timer"></b>
        </p>

        <form method="POST" class="add-word">
            <input name="word" class="word" autofocus>
            <button>Enter</button>
        </form>

        <p class="msg">
            <!-- our JS will put messages here dynamically -->
        </p>

        <ul class="words">
            <!-- our JS will words here as they score -->
        </ul>

    </section>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    <script>
        let game = new BoggleGame("boggle", 60);
    </script>
</body>

</html>