<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Pet</title>
</head>
<body>
  <h1>New Pet</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
      {{field.label}}
      {{field}}
    </p>
    {% endfor %}
    <button>Submit Pet</button>
  </form>
  <a href="/">Go Back to Pets</a>
</body>
</html>