<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Adoption</title>
</head>
<body>
  <h1>Pet Adoption</h1>
  {% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
  {% endfor %}
  <div>
    <ul>
      {% for pet in pets %}
        <img src="{{pet.photo_url}}">
        <a href="{{ url_for('edit_pet', pet_id=pet.id) }}">{{ pet.name }}</a>
        {% if pet.available %} <b>is available!</b> {% endif %}
      {% endfor %}
    </ul>
  </div>
  <a href="/add">Add New Pet</a>
</body>
</html>