.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	height: 50vh
}

h1 {
	font-size: 1.5em;
	text-align: center;
}
