{% extends 'base.html' %}

{% block title %}Edit Feedback{% endblock %}

{% block content %}

<h1>Edit Feedback</h1>

<form method="POST" action="/feedback/{{ feedback.id }}/update">

  {{form.hidden_tag()}}
  
  {% for field in form.errors %}
    <div class="alert alert-danger">{{ field }}:
      <ul>
        {% for error in form.errors[field] %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  {% for field in form if field.widget.input_type != 'hidden' %}

  <div class="form-group row">
    {{field.label(class="col-sm-2 col-form-label")}}
    <div class="col-sm-10">
      {{field(class="form-control")}}
    </div>
  </div>

  {% endfor %}

  <button class="btn btn-primary">Edit!</button>
</form>

{% endblock %}

