{% extends "base.html" %}

{% block content %}

<h1>Forex Converter</h1>
{% for msg in get_flashed_messages() %}
<div class="alert alert-danger" role="alert">
    <h3>{{msg}}</h3>
</div>
{% endfor %}
<div class="alert alert-danger d-none" role="alert">
    Not a valid amount.
</div>
<form action="/result" method="POST">
    <div class="form-group">
        <label for="forex_from">Converting from</label>
        <input name="forex_from" type="text"><br>
    </div>
    <div class="form-group">
        <label for="forex_to">Converting to</label>
        <input name="forex_to" type="text">
        <br>
    </div>
    <div class="form-group">
        <label for="amount">Amount: </label>
        <input name="amount" type="text"><br>
    </div>
    <button type="submit" class="btn btn-primary">Convert</button>
</form>

{% endblock %}